app-heritage-card {
  display: flex;
  width: 100%;
  height: auto;
  box-sizing: border-box;
}

@media (min-width: 768px) {
  app-heritage-card {
    height: 100%;
  }
}

.grid {
  align-items: stretch;
}