<div class="max-w-4xl mx-auto text-center mt-24 px-4">
  <!-- Heading -->
<h1 class="text-4xl sm:text-5xl font-extrabold leading-tight tracking-tight mb-6 relative inline-block">
  <span class="bg-clip-text text-transparent bg-gradient-to-r from-[#7a004a] via-[#d66ea0] to-[#f4c2d9]">
   Explore the Map (Edition 2025)<br>
    
  </span>
  <!-- Underline -->
  <span class="absolute -bottom-2 left-1/2 transform -translate-x-1/2 w-3/4 h-[4px] 
               bg-gradient-to-r from-[#7a004a] via-[#d66ea0] to-[#f4c2d9] rounded-full shadow-md"></span>
</h1>

<p>Explore the World Map : Discover the inaugural list of Cooperative Cultural Heritage 
sites across the world and be inspired to nominate your sites and practices of 
cooperative cultural significance. </p>

</div>

<!-- Map Section with margins -->
<div class="max-w-8xl mx-auto px-4 my-8">
  <div id="map" class="h-[600px] w-full rounded-lg shadow-lg border border-gray-200"></div>
  <div class="flex justify-end mb-40 mr-10">
  <span class="relative inline-flex items-center justify-center rounded-full px-[3px] py-[2px]">
    <span class="absolute inset-0 rounded-full p-[1px] bg-gradient-to-r from-[#7a004a] to-[#c7007f]"></span>
    <span
      class="relative inline-flex items-center justify-center gap-4 rounded-full bg-white px-4 py-1 text-black"
    >
      <!-- Intangible -->
      
  <span class="flex items-center gap-1">
        <img
          src="../../../assets/images/i2.png"
          alt="Tangible"
          class="w-4 h-4"
        />
        <p class="text-sm whitespace-nowrap">Tangible</p>
      </span>
      <!-- Divider -->
      <span class="w-[1px] h-4 bg-gray-300"></span>

      <!-- Tangible -->
    
      <span class="flex items-center gap-1">
        <img
          src="../../../assets/images/i1.png"
          alt="Intangible"
          class="w-4 h-4"
        />
        <p class="text-sm whitespace-nowrap">Intangible</p>
      </span>
    </span>
  </span>
</div>



</div>


